body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 60px;
}
.input{
    display: flex;
    position: relative;
}
.add__input {
    padding: 9px 5px;
    outline: none;
    width: 350px;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 16px;
    margin-right: 10px;
    transition: all .9s ease-in;
}
.add__input.errora {
    border: 1px solid #ED5E69;

}
.button{
    outline: none;
    font-size: 16px;
    border-radius: 4px;
    background-color: black;
    border: none;
    color: whitesmoke;
    padding: 10px 5px;
    width: 75px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s, transform 0.1s;
}
.button:active {
  background: whitesmoke;
  color: black;
  transform: scale(0.95);
}
.error {
  padding: 10px;
  background: #ffdddd;
  color: #900;
  border-radius: 6px;
  font-size: 14px;
  position: absolute;
  bottom: -43px;
  left: 3px;
  transition: all .6s ease-in-out;
}
.hidden {
  display: none;
}
#select {
    height: 100%;
  text-align: center;
  font-size: 16px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  background: whitesmoke;
}
.menu {
    margin-top: 100px;
}
.menu__item {
    display: flex;
    align-items: center;
    padding: 5px;
}
.menu__item.remove{
    display: none;
} 
.menu__text {
    font-size: 24px;
    margin-right: 15px;
    padding: 5px 10px;
    border-radius: 4px;
    background: whitesmoke;
}
.menu__text.completed {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}
.completed__btn {
    font-size: 16px;
    width: 100px;
    background: #64E687;
    color: #fff;
}
.delete__btn {
    font-size: 16px;
    margin-left: 15px;
    background: #ED5E69;
    color: #fff;
}